#checkOut .modal-content {
  border: none;
}
.price-range-filter > div {
  width: auto !important;
}
.wardrobe .slick-slide {
  margin: 0 0px !important;
  padding-right: 10px;
  padding-left: 10px;
}
.sliderView .slick-slide {
  margin: 0 -15px !important;
  padding-right: 25px;
  padding-left: 25px;
}
.orderTakingApp {
  min-height: 599px;
}
.form-inline {
  border-bottom: 1px solid rgb(180, 178, 178);
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.btn-red,
.btn-green {
  color: white !important;
}
.btn-red {
  background-color: #dc3545;
}
.btn-green {
  background-color: #198754;
}

.slick-slide img.w-100 {
  display: unset !important;
}
.btn-xs {
  padding: 4px 10px;
  font-size: 12px;
}
/** Page Loader **/
.loader-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #c5cae9;
  position: relative;
  top: 0;
  left: 0;
}
.loader-container {
  height: 15px;
  width: 105px;
  display: flex;
  position: relative;
}
.loader-container .loader-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #300056;
  animation: move 700ms linear 0ms infinite;
  margin-right: 30px;
}
.loader-container .loader-dot:first-child {
  position: absolute;
  top: 0;
  left: 0;
  animation: grow 700ms linear 0ms infinite;
}
.loader-container .loader-dot:last-child {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
  animation: grow 700ms linear 0s infinite reverse;
}
@keyframes grow {
  from {transform: scale(0,0); opacity: 0;}
  to {transform: scale(1,1); opacity: 1;}
}

@keyframes move {
  from {transform: translateX(0px)}
  to {transform: translateX(45px)}
}
/** Page Loader END**/
.product-block .product-content-area h6 a{
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: #000000;
  font-family: "OpenSauceSans-SemiBold";
  text-align: center;
  margin-bottom: 19px;
}
.product-block .product-content-area h6 a:hover {
  color: #f9bc60;
  transition: all 0.65s;
}
.product-detail-page .discount-offer {
  width: 132px!important;
}
a {
  cursor: pointer;
}
.gender-box {
  cursor: pointer;
}